<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplayer Tic Tac Toe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-design.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-logs.css') }}">
</head>

<body>
    <main>
        <!-- Greetings View -->
        <div class="greetings background show" id="greetingsBackground">

            <div class="greetings-view show" id="greetings">
                <div class="modal-header">
                </div>
                <h1>Tic Tac Toe</h1>
                <div class="horizontal-line"></div>
                <div class="tictacImage">
                  <img src="/static/assets/path97.png" alt="">
                  <img src="/static/assets/drawing.png" alt="">
                </div>
                <form id="joinForm">
                    <label for="gameRoom">Enter a game room name:</label>
                    <input type="text" id="gameRoom" placeholder="Room Name" required>

                    <label for="playerName">Enter your username:</label>
                    <input type="text" id="playerName" placeholder="Player Name" required>

                    <button type="submit" id="joinRoom">Join Room</button>
                </form>
            </div>
        </div>

        <!-- Game Board and Logs -->
        <div class="board-logs-container">
            <div class="game-board-area">
                <div class="board" id="board">
                    <!-- Tic Tac Toe Cells -->
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                    <div class="cell" data-cell></div>
                </div>
                <div class="winning-message" id="winningMessage">
                    <div data-winning-message-text></div>
                    <button id="restartButton">Restart</button>
                </div>
                <div class="game-board-area-button">
                    <button id="gameStart">Start Game</button>
                </div>
            </div>

            <div class="logs" id="logs-container">
                <div class="messaging-view" id="messaging">
                    <div class="messaging-header">
                        <div class="modal-header">
                            <span class="modal-header-title">Game Arena</span>
                            <button type="button" class="close" aria-label="Close"></button>
                        </div>
                        <div class="connected-players" id="connected_players"></div>
                    </div>
                    <div class="msg" id="msg-area"></div>
                    <div class="logs message" id="log_msg">
                        <form id="send_msg" autocomplete="off">
                            <input type="text" id="message" placeholder="Type message">
                            <button type="submit" id="send">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
